NEXT_PUBLIC_SUPABASE_URL=https://ufonstladvvxoohjnpmw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_e9reyXoPnO9tCA5P7flkLA_3wBy-ZCv
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmb25zdGxhZHZ2eG9vaGpucG13Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjY5NDgwNywiZXhwIjoyMDk4MjcwODA3fQ.k1cEpdqJvkhanpkovaZysaK_6ECP2LEQcNuE_xRz69U
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
CRON_SECRET=
NEXT_PUBLIC_ROOT_DOMAIN=kalilogic.vercel.app